.nav-header-logo {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
}

.nav-header-brand {
    display: flex;
    align-items: center;
}

.nav-header-button.btn {
    display:flex; 
    align-items:center; 
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
}

.nav-header-button svg {
    width: 3rem;
    height: 3rem;
}