main {
  padding-top: 7rem;
  padding-bottom: 1rem;
}

input:invalid {
  border: 2px dotted red;
  background-color: rgba(255, 0, 0, 0.2);
}

select:invalid {
  border: 2px dotted red;
  background-color: rgba(255, 0, 0, 0.2);
  color: black;
}