main {
  padding-top: 7rem;
  padding-bottom: 1rem;
}

input:invalid {
  border: 2px dotted red;
  background-color: rgba(255, 0, 0, 0.2);
}

select:invalid {
  border: 2px dotted red;
  background-color: rgba(255, 0, 0, 0.2);
  color: black;
}

.chat-list-scroll {
  max-height: 400px;
  overflow-y: auto;
}

.chat-list-scroll .list-group-item {
  padding: 0.25rem;
}

@media print {
  .chat-content-scroll-up,
  .chat-content-scroll-down,
  header,
  footer,
  nav {
    display: none !important;
  }

  main {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  
  .container {
    width: 100% !important;
    max-width: 960px !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .chat-content-message-common {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
}
